# Banco de dados (Postgres)
POSTGRES_DB=db_pedidos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# Mensageria (RabbitMQ)
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Senha de app do Gmail usada para envio de e-mails (spring.mail.password)
# ATENCAO: senha de uma conta Gmail de TESTE criada so para projetos.
# E publica de proposito para facilitar rodar o teste de envio de e-mail.
EMAIL_APP_PASSWORD=gqzw bhpv fcxe dxct
